__pycache__
logs/
target/
.settings/
.apt_generated/
.idea/
.project
.classpath
.factorypath
.springBeans
.metadata

*.pyc
*.pyo
*.log
*.iml
*.exe
*.jar
*.class
*.zip
*.gz
*.tar
*.bak
*.bkp
*.swp
*.tmp
*.dump

hs_err_pid*

desktop.ini
Thumbs.db
